
z_output/main.aux
z_output/main.bbl
z_output/main.blg
z_output/main.fdb_latexmk
z_output/main.fls
z_output/main.lof
z_output/main.log
z_output/main.out
z_output/main.synctex.gz
z_output/Structure
z_output/Introduction
z_output/Chapter3
z_output/Chapter2
z_output/main.bcf
z_output/main.run.xml
z_output/main.toc
